{{> toolbars/adminToolBar }}

<h2>Remove Product</h2>
<ul id="productList">
  <!-- Products will be dynamically listed here -->
</ul>

{{> adminFooter }}

<script src="/js/adminScript/removeProduct.js"></script>

