{{> toolbars/adminToolBar }}

<h2>Category List</h2>
<ul id="categoryList">
  <!-- Categories will be dynamically filled here using JavaScript -->
</ul>

{{> adminFooter }}


<script src="/js/adminScript/listCategory.js"></script>
