{{> toolbars/adminToolBar }}

<h2>User List</h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- JavaScript ימלא כאן את הנתונים -->
  </tbody>
</table>

{{> adminFooter }}


<script src="/js/adminScript/listUsers.js"></script>