{{> toolbars/adminToolBar }}


<table id="productListTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Stock</th>
      <th>Image URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Dynamically filled with JavaScript -->
  </tbody>
</table>

{{> adminFooter }}


<script src="/js/adminScript/listProduct.js"></script>

