<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shay Benefits Club</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <header>
        <h1>Shay Benefits Club</h1>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html>
