{{> toolbars/userToolBar }}

<!-- הכלל ספריית Font Awesome לקבלת האייקונים -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="contact-links">

  <a href="https://github.com/ShayMarks" target="_blank">
    <i class="fab fa-github"></i> 
  </a>

  <a href="https://linkedin.com/in/shay-marks-920546260/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>

  <a href="https://www.facebook.com/profile.php?id=100000534363504" target="_blank">
    <i class="fa-brands fa-facebook"></i>
  </a>

  <a href="https://www.instagram.com/shaymarks2/" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a href="mailto:nrexhd@gmail.com" target="_blank">
    <i class="fa-solid fa-envelope"></i>
  </a>

        <!-- קישור ללינקדאין -->
  <a href="tel:+972585858121" target="_blank">
    <i class="fa-solid fa-phone"></i>
  </a>


</div>


{{> footer }}