<nav class="admin-toolbar">
  <a href="/admin">add product</a>
  <a href="/delete-product">remove product</a>
  <a href="/list-product">product list</a>
  <a href="/list-users">users list</a>
  <a href="/list-category">category list</a>
  <a href="/add-category">add category</a>
  <a href="/">logout</a>
</nav>